<%- include('../Partials/head') %>
<body>
    <%- include('../Partials/nav') %>
    <header>
        <h1>Home Registered Successfully</h1>
    </header>
    <main>
        <a href='/'>Go to home </a>
    </main>
</body>
</html>