<%- include('../Partials/head') %>

<body style="font-family: 'Poppins', sans-serif; background: #f6f8fa; margin: 0; padding: 0;">
    <%- include('../Partials/nav') %>
    <header>
        <h1>Reserved Homes</h1>
    </header>
    <main>
        <a href='/'>Go to home </a> 
    </main>
</body>
</html>