<%- include('../Partials/head') %>
<body>
    <%- include('../Partials/nav') %>
    <header>
        <h1>Register Your home</h1>
    </header>
    <main>
        <form action='/host/add-home' method='post'>
        <input type='text' placeholder='Enter your home name' name="homeName" />
        <input type='number' placeholder='Enter price per night' name="homePrice" />
        <input type='text' placeholder='Enter your location' name="homeLocation" />
        <input type='number' placeholder='Enter ratings of your home' name="homeRating" />
        <input type='submit'  />
        </form>
    </main>
</body>
</html>